#attack-button {
	margin: 60px 0 60px 0;
	text-align: center;
	vertical-align: center;
	height: 100%;
}

body {
	background-image: url('../images/starwars.jpg');
	color: lightgray;
}

.thumbnail {
	margin: 0;
}

button {
	padding: 0;
}

/*#defender {
	text-align: center;
}*/